#С некоторого момента прошло 234 дня. Сколько полных недель прошло за этот период? А месяцев?

In [ ]:
time = 234
week = time / 7
Mounth = week / 4
print("недель: " + str(int(week)) + "\nмесяцев: " + str(int(Mounth)))

недель: 33
месяцев: 8

#Дано двузначное число 39. Найти: число десятков в нем; число единиц в нем;сумму его цифр; произведение его цифр.

In [ ]:
nymder = 39
dez = int(nymder / 10)
chis = nymder %10
print(dez)
print(chis)
print(dez+chis)
print(dez*chis)

3
9
12
27

#Известно значение температуры по шкале Цельсия 36,6. Найти соответствующее значение температуры по шкале:
- Фаренгейта;
- Кельвина.
Для пересчета по шкале Фаренгейта необходимо исходное значение температуры умножить на 1,8 и к результату прибавить 32, а по шкале Кельвина абсолютное значение нуля соответствует 273,15 градуса по шкале Цельсия.

In [ ]:
temp = 36.6
Far = temp * 1.8 + 32
print(Far)
Kel = float(temp) + 273.15
print(Kel)

97.88000000000001
309.75

#Дано трехзначное число. Найти:
- число единиц в нем;
- число десятков в нем;
- сумму его цифр;
- произведение его цифр.

In [ ]:
numder = int(input())
#numder = 125
edin = numder %100
edin = edin %10
print (edin)
numder_str = str(numder)
dez = int(numder_str[1])
print(dez)
sto = int(numder_str[0])
print(sto+dez+edin)
print(sto*dez*edin)

582
2
8
15
80

Известны площади круга и квадрата. Определить:
- поместится ли круг в квадрате?
- поместится ли квадрат в круге?

In [ ]:
import math
radius = int(input())
storona_a = int(input())
polovina_c = (storona_a * math.sqrt(2)) / 2
print("круг внутри квадрата " + str( polovina_c > radius))
print("квадрат в круге " + str(polovina_c < radius))

5
5
круг внутри квадрата False
квадрат в круге True

Дано натуральное число. Определить:
- является ли оно четным;
- оканчивается ли оно цифрой 7

In [ ]:
num = int(input())
num2 = num %2
print(num2 == 0)
num_str = str(num)
num_araund = int(num_str[-1::])
print(num_araund == 7)

1234567
False
True

#Составить программу, которая уменьшает первое введенное число в два раза, если оно больше второго введенного числа по абсолютной величине.

In [ ]:
num1 = float(input())
num2 = float(input())
if abs(num1) > abs(num2):
  num1 = num1 / 2
  print(num1)

14
258

#Известен вес боксера-любителя. Известно, что вес таков, что боксер может быть отнесен к одной из трех весовых категорий:
- легкий вес — до 60 кг;
- средний вес — до 75 кг;
- тяжелый вес — до 91 кг;
- супертяжелый вес – с 91 кг.
Определить, в какой категории будет выступать данный боксер.

In [ ]:
box = float(input())
if box <= 60:
  print("легкий вес")
elif box <= 75:
    print("средний вес")
elif box <= 91:
      print("тяжелый вес")
else: print("супертяжелый вес")

92
супертяжелый вес

#Задачки от Антона

На ввод дается массив целых чисел nums и целочисленная "цель", верните индексы двух чисел таким образом, чтобы они в сумме давали "цель".

Вы можете предположить, что у каждого входного сигнала будет ровно одно решение, и вы не сможете использовать один и тот же элемент массива дважды.

Вы можете вернуть ответ в любом порядке.

Example 1:
Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

Example 2:
Input: nums = [3,2,4], target = 6
Output: [1,2]

Example 3:
Input: nums = [3,3], target = 6
Output: [0,1]

Запускать на правильность можно тут

P.S.
Для решения нужно знать
- циклы
- массивы
- числа
- условия

In [ ]:
new_var = [2,7,11,15]
nums = 9
for i in range(len(new_var)-1):
    for g in range(i+1,len(new_var)):
        summ = new_var[i] + new_var[g]
        if summ == nums:
          print(i, g)

0 1

In [ ]:
def containsDuplicate(nums):
    seen = set()
    for num in nums:
        if num in seen:
            return True
        seen.add(num)
    return False

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list_nums = list1 + list2
print(list_nums)
swap_bool = True
shet = 0
while swap_bool:
    swap_bool = False
    for i in range(len(list_nums) - 1):
      if list_nums[i] > list_nums[i + 1]:
         list_nums[i], list_nums[i + 1] = list_nums[i + 1], list_nums[i]
         swap_bool = True
    shet += 1
print(list_nums, shet)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6] 1

In [ ]:
#insertion_sot
list1 = [1,2,3,4,5,6,7]
list2 = []
  for i in range(len(list1)-1)
    if list1[i] < list[i+1]
      list1[i], list1[i+1] = list1[i+1], list1[i]
    list2.append ()

In [ ]:
list1 = [1,3,4]
list2 = [1,2,5]
list3 = ["None"]*(len(list1)+len(list2)*2)
n = 0
for i in list1:
    for g in list2:
      if i < g:
        list3[n] = i
        n+=1
        break
    print(list3)


#       if i < g:
#         list3[n] = i
#         list3[n+1] = g
#         print(n)
#       else:
#         list3[n] = g
#         list3[n+1] = i
#       elif:
#         i=g
#       n+= 1
# print(list3)

[1, 'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None']
[1, 3, 'None', 'None', 'None', 'None', 'None', 'None', 'None']
[1, 3, 4, 'None', 'None', 'None', 'None', 'None', 'None']

In [ ]:
lst2 = ["картошка"] *10
for i in range(1, len(lst2)+1):
  print(i, lst2[i-1])

1 картошка
2 картошка
3 картошка
4 картошка
5 картошка
6 картошка
7 картошка
8 картошка
9 картошка
10 картошка

In [ ]:
lst2 = ['a', 'b', 'c', 'd', 'e']
for i,x in enumerate(lst2):
  print(i,x)

0 a
1 b
2 c
3 d
4 e

In [ ]:
# Вывести все уникальные значения листа и сравнить длины листов
import numpy as np
list1 = [1,2,3,4,5,1]
list1_np = set(list1)
if len(list1) != len(list1_np):
  print(True)
else:
  print(False)

In [ ]:
list14 = [1, 2, 3, 1,]
    # Создаем словарь с ключами от 1 до 10 и нулевыми значениями
request_count = {i: 0 for i in range(1, 11)}

    # Обрабатываем каждый запрос
for req in list14:
  if req in request_count: # проверяем есть ли число в нашем дике
     request_count[req] += 1  # Увеличиваем счетчик для ключа т.е. записываем в значение 0+1

    # Проверяем количество запросов для каждого ключа и выводим результат
for key, count in request_count.items():
    if count >= 2:
        print(f'Key {key}: True')
    elif count == 1:
        print(f'Key {key}: False')

# # Пример использования
# requests_list = [1, 2, 3, 1, 4, 5, 6, 2, 2, 10, 5]
# process_requests(requests_list)

In [ ]:
# Добавить из листа в dict и если такой ключ уже есть то вывести True а как только все добавили но нет повтора то False
def hish (list1):
  dict_sample = {}
  for i in list1:
    if i in dict_sample:
      return True
    else:
      dict_sample[i] = 0
  return False
list1 = [1,2,3,4,5,1]
print(hish(list1))

In [ ]:
def is_valid(input_string: str) -> bool:
  stack = []
  dict1 = {
      "]":"[",
      ")":"(",
      "}":"{"
  }
  for i in input_string:
      if i in dict1:
        top_elem = stack.pop()
        if dict1[i] != top_elem:
          return False
      else: stack.append(i)
  return not stack

print(is_valid('({})')) # True
print(is_valid('({)}')) # False
print(is_valid('({{{}}()})')) # True

True
False
True

In [ ]:
def isPalindrome(x: int) -> bool:
    str_x = str(x)
    return x == str_x[::-1]

print(isPalindrome(-121))

False

In [ ]:
def romanToInt(self, s: str) -> int:
    dic1 = {
        "I" : 1,
        "V" : 5,
        "X" : 10,
        "L" : 50,
        "C" : 100,
        "D" : 500,
        "M" : 1000
        }
    list2 = []
    list = s
    print(s)
    for i in s:
        if s in dict1:
            s.pop = list2
            print(s)
print(romanToInt(III))

NameError: name 'III' is not defined

#Из курса

In [ ]:
info = "We couldn't verify your mother's maiden name."
intro = "Here is important information about your account security."

first_name = 'Joffrey'
greeting = 'Hello'

# BEGIN (write your solution here)
print (greeting  + ", " + first_name + "!\n" + intro + "\n" + info)
# END

Hello, Joffrey!
Here is important information about your account security.
We couldn't verify your mother's maiden name.

In [ ]:
a = 4
d = 6
print (a+d)

10

In [ ]:
king = "Rooms in King Balon's Castles:"

# BEGIN (write your solution here)
castle = 17
room = 6
total_room = castle * room
print (king + "\n" + str(total_room))
# END

Rooms in King Balon's Castles:
102

In [ ]:
value = 'Hexlet'

# BEGIN (write your solution here)
print (value[-1::])
# END

t

In [ ]:
print(ord('ф'))

1092

In [ ]:
one = 'Naharis'
two = 'Mormont'
three = 'Sand'

# BEGIN (write your solution here)
print(one[2] + two[1] + three[3] + two[4] + two[2])
print(f'{one[2]}{two[1]}{three[3]}{two[4]}{two[2]}')
# END

hodor
hodor

In [ ]:
value = 2.9
value_str = str(int(value))
# BEGIN (write your solution here)
print (value_str + " times")
# END

2times

In [ ]:
number = 10.1234

# BEGIN (write your solution here)
print(round(number,2))
# END

10.12

In [ ]:
text = 'Never forget what you are, for surely the world will not'
text_len = len(text)
print(text[0] + text[text_len-1])

Nt

In [ ]:
x = -5
print(abs(x))  # вызывает x.__abs__()
# -5 в 3 степени
print(pow(x, 3))  # вызывает x.__pow__(3)

5
-125

In [ ]:
text = 'Never forget what you are, for surely the world will not'

# BEGIN (write your solution here)
print("Index Of N: " + str(text.find("N")) + "\n" + "Index Of ,: " + str(text.find(",")))
# END

Index Of N: 0
Index Of ,:25
Index Of N: 0
Index Of ,:25

In [ ]:
text = 'When \t\n you play a \t\n game of thrones you win or you die.'

# BEGIN (write your solution here)
print(text[4:14])
# END

 you pl

In [ ]:
def greeting_with_return_and_printing():
    print('Я появлюсь в консоли')
    return 'Hello, Hexlet!'

In [ ]:
def say_hurray_three_times():
    hurray = "hurray! hurray! hurray!"
    print(hurray)

say_hurray_three_times()

hurray! hurray! hurray!

In [ ]:
def truncate(text, length):
    # BEGIN (write your solution here)
    print(text[0:length]+"...")
    # END
truncate("hexlet", 2)

he...

In [ ]:
def get_hidden_card(numder_card, index = 4):
    print('*'*index + numder_card[-4:])
get_hidden_card ("1234123412341234",3)

***1234

Key 1: True
Key 2: False
Key 3: False

True

True

#vecjh

In [ ]:
n = int(input("введите число строк "))
zvez = "*"
for i in range(1, n+1):
  zv= zvez * i
  print("Умножаю * на " + str(i) + ": " + str(zv) )

введите число строк 5
Умножаю * на 1: *
Умножаю * на 2: **
Умножаю * на 3: ***
Умножаю * на 4: ****
Умножаю * на 5: *****

In [ ]:
# Напишите программу, которая получает от пользователя строку целых чисел, и выводит:

# Количество положительных чисел.
# Произведение всех отрицательных чисел.
# Минимальное и максимальное числа без использования функций min() и max().
# Пример ввода:

# 3 -5 2 4 12 7 3 4 6 9 25 -50 12 35 2 11
# Вывод:

# Количество положительных чисел: 14
# Произведение отрицательных чисел: 250
# Минимальное число: -50
# Максимальное число: 35
lst = list(map(int, (input("введите целые числа через пробел ").split())))
print (lst)
pos = 0
otr = 1
for i in lst:
  if i > 0:
    pos += i
  elif i < 0:
      otr *= i
print ("Сумма положительных чисел: " + str(pos))
print ("Произведение всех отрицательных чисел: " + str(otr))
print ("минимальное число:", min(lst))
print ("максимальное число:", max(lst))

введите целые числа через пробел 3 -5 2 4 12 7 3 4 6 9 25 -50 12 35 2 11
[3, -5, 2, 4, 12, 7, 3, 4, 6, 9, 25, -50, 12, 35, 2, 11]
Сумма положительных чисел: 135
Произведение всех отрицательных чисел: 250
минимальное число: -50
максимальное число: 35

In [ ]:
# Напишите программу, которая создает вложенный список из n строк, полученных от пользователя, и выводит сумму и произведение элементов каждого подсписка (без использования sum() и math.prod()).

# Пример ввода:

# 6
# 4 5 6 7 8
# 2 1 3 9 8
# 6 4 3 2 6
# 9 7 6 3 2
# 1 4 5 7 2
# 7 3 2 1 6
# Вывод:

# Подсписок 0: сумма чисел = 30, произведение = 6720
# Подсписок 1: сумма чисел = 53, произведение = 2903040
# Подсписок 2: сумма чисел = 74, произведение = 2508226560
# Подсписок 3: сумма чисел = 101, произведение = 5688657838080
# Подсписок 4: сумма чисел = 120, произведение = 1592824194662400
# Подсписок 5: сумма чисел = 139, произведение = 401391697054924800
num = int(input("введите количество строк"))
list = []
for i in range(len(list)-1):
    print("Подсписок", i,":", "сумма чисел = ",  )
    for i in list:

In [ ]:
n = int(input())
lst = []
for i in range(n):
    lst.append(list(map(int, input().split())))

summa = 0
prod = 1
for i, j in enumerate(lst):
    for num in j:
        summa += num
        prod *= num
    print(f'Подсписок {i}: сумма чисел = {summa}, произведение = {prod}')

3
1 2 3
4 5 6
7 8 9
Подсписок 0: сумма чисел = 6, произведение = 6
Подсписок 1: сумма чисел = 21, произведение = 720
Подсписок 2: сумма чисел = 45, произведение = 362880

#Пары по алгосам

In [ ]:
class Node()
  def __init__(self):
    self.data = d
    self.next = None
    # def get_next

class LinkenList():
  def __init__()
    self.head = None
    self.size = 0
  def add(self, data):
    is self.head is None
        self.head = None(data)
        if self.head in None